@font-face {
  font-family: "dancing";
  src: url(../font/Dancing_Script/DancingScript-VariableFont_wght.ttf);
}
.container {
  margin: auto;
  width: 1400px;
}
img {
  width: 100%;
}
section img {
  width: 100%;
  height: 300px;
}
.section div {
  width: 25%;
}

.section {
  display: flex;
  flex-wrap: wrap;
}
.hdrimg2 {
  display: none;
}
.hdrimg {
  display: inline;
}
@media (max-width: 1440px) {
  .hdrimg2 {
    display: inline;
  }
  .hdrimg {
    display: none;
  }

  .container {
    width: 100%;
    background-color: rgb(16, 9, 99);
  }
  .section {
    flex-wrap: wrap;
  }
  .section div {
    width: 50%;
  }
}

@media (max-width: 960px) {
  header {
    display: none;
  }
  .section div {
    width: 50%;
  }
  .container {
    background-color: rgb(9, 99, 69);
  }
}
@media (max-width: 760px) {
  .section div {
    width: 100%;
  }
  .container {
    background-color: red;
  }
}
figcaption {
  margin: 5px 60px;
}
.button {
  background-color: #b749cb;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  height: 30px;
  width: 70px;
  position: absolute;
  bottom: 100px;
  /* bottom: 100px; */
  margin-left: 30px;
  /* left:30px ; */
}
.hdr {
  position: relative;
}
header {
  position: relative;
}
header p {
  background-color: #b749cb;
  /* border: none; */
  color: white;
  /* text-align: center; */
  text-decoration: none;
  /* font-size: 16px; */
  /* cursor: pointer; */
  padding: 25px;
  position: absolute;
  border-radius: 50%;
  top: 50px;
  text-align: center;
  right: 20px;
}
.formaty {
  margin: 0;
}
.formaty img {
  width: 100%;
}
.formaty figcaption {
  margin: 15px;
}
.figcaption p,
h3,
h4,
h5 {
  margin: 3px;
  font-family: "dancing";
}
.bgcolor {
  color: rgb(243, 243, 25);
}
