.container {
  margin: auto;
  border: 1px black;
}
/* header */
header {
  background-image: url(../consignes/img/dinosaure.jpg);
  background-repeat: no-repeat;
  color: white;
  height: 1100px;
  width: 100%;
  background-size: cover;
  position: relative;
}
/* nav */
nav {
  background-color: black;
  padding: 5px;
  opacity: 0.5;
}
nav a {
  color: white;
  text-decoration: none;
}
nav ul {
  display: flex;
  justify-content: space-around;
  margin: 30px;
  padding-bottom: 0;
}
nav li {
  list-style-type: none;
}
.blue {
  background-color: #1c5f81;
  padding: 10px 50px;
}

.logo1 {
  width: 700px;
  margin: auto;
  padding-bottom: 20px;
}
.logo1 img {
  width: 100%;
}
